<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="apiUrl" value="https://staging.bduapi.servrhotels.com/"/>
    <!--<add key="apiUrl" value="https://bduapi.servrhotels.com/"/>-->
     <add key="AIServiceCallIntervalSecs" value="45"/>
     <add key="IXPMSExecutionTimeOutSecs" value="420"/>
    <add key="SQLITEDATAPURGEDAYSINTERVALDAYS" value="5"/>
	  <add key="appArguments" value="-pf c:\e1-vhp\config\vhpAS.pf  -ini c:\e1-vhp\config\vhpAS.ini -p e1-vhpstart.p -Wa -wpp"/>
	  <add key="platformName" value="WINDOWS"/>
	  <add key="deviceName" value="DESKTOP-BKS7SIF"/>
	  <add key="station_number" value="101"/>
	  <add key="hotel_code" value="INTERH"/>
	  <add key="start_in" value="BEPOSV1.14"/>
	  <add key="custom1" value="requireWindowFocus:true  "/>
	  <add key="custom2" value="transition_animation_scale:false https://staging.bduapi.servrhotels.com/"/>
	  <!--<add key="custom2" value="transition_animation_scale:false https://bduapi.servrhotels.com/"/>-->
	  <add key="app" value="//Window[starts-with(@Name, 'Blazor Electronic Point of Sale')]"/>
	  <!--<add key="app" value="C:\Program Files (x86)\Blazor Technologies Inc\BEPOSV1.14\EPOS.UI.exe"/>-->
	  <add key="UIVInstalPath" value="C:\Users\zahid.nawaz.BTDOMAIN\Desktop\uivision"/>
	  <add key="browserDriver" value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe"/>
	  <add key="testreservation" value="1209122"/>
	  <add key="automation_mode" value="1"/>
	  <add key="pmsProcess" value="EPOS.UI"/>
	  <add key="allowedReceivingEntities" value=""/>
	  <add key="PMSUsr" value=""/>
	  <add key="PMSPwd" value=""/>
	  <add key="isProcess" value="0"/>
  <add key="RESERVATION_NOT_FOUND_IN_PMS" value="Unfortunately, reservation {0} not found in PMS, please try again, or contact support@servrhotels.com for assistance."/>
  </appSettings>
</configuration>