<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" internalLogFile="${basedir}log/InternalIXLog.txt" internalLogLevel="Fatal"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="IntegrateXlog" xsi:type="File"
      fileName="${basedir}log/integrateXLog.log"
             layout="${longdate} ${logger} ${message}"
      archiveFileName="${basedir}log/archives/integrateXLog.{#}.log"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      maxArchiveFiles="7" />
    <target name="IntegrateRevenueEmailXlog" xsi:type="Mail" useDefaultRowHighlightingRules="false"
subject="${gdc:item=subjectcritical}" 
to="${gdc:item=mailtorevenueteam}"
from="${gdc:item=mailfrom}"
body="Hi,${newline} IntegrateX need quick attention for confronting issue ${newline} Error Technical detail -  ${exception} ${newline}  Issue Record Time -${longdate} ${newline}  Client Machine - ${machinename}, IP -  ${local-ip} ${newline}  Hotel Name - ${gdc:item=hotelname} ${newline}${newline}  23 Beech hill avenue,${newline} Hadley wood, EN4 0LW, UK,${newline} Call us +442039234479"
smtpUserName="${gdc:item=smtpuser}"
smtpAuthentication="Basic"
enableSsl="${gdc:item=enablessl}"
smtpPassword="${gdc:item=smtppassword}"
smtpServer ="${gdc:item=smtpserver}"
smtpPort="587"
/>
 <target name="IntegrateXEmailErrorlog" timeout="10000" xsi:type="Mail" useDefaultRowHighlightingRules="false"
subject="${gdc:item=subjecttechnical}"
to="${gdc:item=mailtotechnicalteam}"
from="${gdc:item=mailfrom}"
body="Hi Support,${newline} Please proceed for quick fix ${newline} Error Technical detail -  ${exception} ${newline} Issue Record Time -${longdate} ${newline}  Client Machine - ${machinename}, IP -  ${local-ip} ${newline} Hotel Name - ${gdc:item=hotelname} ${newline}${newline}  23 Beech hill avenue,${newline} Hadley wood, EN4 0LW, UK,${newline} Call us +442039234479"
smtpUserName="${gdc:item=smtpuser}"
smtpAuthentication="Basic"
enableSsl="${gdc:item=enablessl}"
smtpPassword="${gdc:item=smtppassword}"
smtpServer ="${gdc:item=smtpserver}"
smtpPort="587"
/> 
  </targets>
  <rules>
    <logger name="*"  writeTo="IntegrateXlog" />
    <!--<logger name="*" minlevel="Fatal" writeTo="IntegrateRevenueEmailXlog" >
      <filters defaultAction='Ignore'>
        <when condition="contains('${message}','IX-Failure')" action="Log" />
      </filters>      
    </logger>-->
    <logger name="*" minlevel="Error" writeTo="IntegrateXEmailErrorlog" />
  </rules>
</nlog>
