<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" internalLogFile="c:\nlog-internal.txt" internalLogLevel="Error" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="default" xsi:type="File"
      fileName="${basedir}/log/logsintegrateXLog.txt"
             layout="${longdate} ${logger} ${message}"
      archiveFileName="${basedir}/log/archives/integrateXLog.{#}.txt"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      maxArchiveFiles="7" />
    <target name="errors" xsi:type="File"
      fileName="${basedir}/log/TestAppErrors.txt"
             layout="${longdate} ${logger} ${message}"
      archiveFileName="${basedir}/log/archives/TestAppErrors.{#}.txt"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      maxArchiveFiles="7" />
  </targets>
  <rules>
    <logger name="*" writeTo="default" />
    <logger name="*" minlevel="Error" writeTo="errors" />
  </rules>
</nlog>
